@page "/"

<h1>Hello, Code Reviewer(s).</h1>

<h3>Here is my Blazor App Web Assembly.</h3>

<p>There are two parts to this;</p>
<ol>
    <li>Blazor UI.</li>
    <li>Web API</li>
</ol>

<p>The Blazor UI is a new release from MS [similar to Angular but enables existing .net developers to build on the front end wihout much training] and I thought I'd give it a try for this.</p>
<p>The Web API is a wrapper around the same services Blazor UI uses, but also uses an example of CQRS</p>
<p>The business service is injected into the Blazor app and can be consumed as such.</p>

<p>Click 'Aggregate Portfolios' on the left to retrieve 3 random portfolios from SECCL and show an aggregated sum of their value.</p>
