@page "/"

<h1>Hello, Code Reviewer(s).</h1>

<p>There are two parts to this;</p>
<ol>
    <li>Very Simple Blazor UI.</li>
    <li>Web API</li>
</ol>

<p>The Blazor UI is a new release from MS [similar to Angular but enables existing .net developers to build on the front end wihout much training] and I thought I'd give it a try for this.</p>
<p>The Web API is a separate project, and can be viewed independently via Swagger.</p>

<p>Click 'Aggregate Portfolios' on the left to retrieve some random portfolios from SECCL and show an aggregated sum of their value.</p>
